@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo</h1>
    <p class="font-italic">Sistema de Controle de Contatos</p>
    <img src="~/css/Agenda.png" width="20%" alt="" />
</div>

<h4>Data e Hora Atual:</h4>
<p id="dataHora"></p>

<script>
    function atualizarDataHora() {
        const dataHoraAtual = new Date();
        const options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: false };
        const dataHoraFormatada = dataHoraAtual.toLocaleString('pt-BR', options);

        document.getElementById('dataHora').textContent = dataHoraFormatada;
    }

    // Atualiza a data e hora a cada segundo
    setInterval(atualizarDataHora, 1000);

    // Chama a função inicialmente para exibir imediatamente
    atualizarDataHora();
</script>
